{% extends "network/layout.html" %}

{% block title %}Edit Post{% endblock %}

{% block body %}

    <h2>Edit Post</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    
    {% if user.is_authenticated %}
        <form action="{% url 'edit-post' post.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea autofocus class="form-control" type="text" name="body" placeholder="Write your post here">{{ post.body}}</textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Edit">
        </form>
    {% endif %}

{% endblock %}