{% extends "network/layout.html" %}
{% block body %}
{% block title %}Following{% endblock %}
<main>
    {% if user.is_authenticated %}
        <div>
            {% if posts %}
                <h2>All Following Posts</h2>
                {% for post in page_obj|dictsortreversed:"date_added"  %}
                    <div>
                        <div>{{ post.user }} posted on {{ post.date_added }}</div>
                        <div>
                            {{ post.body }}
                        </div>
                    </div>
                {% endfor %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                        {% endif %}
                
                        <span class="current page-link">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                
                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    {% endif %}
</main>

{% endblock %}
        