{% extends "network/layout.html" %}

{% block title %}New Post{% endblock %}

{% block body %}

    <h2>New Post</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'new-post' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <textarea autofocus class="form-control" type="text" name="body" placeholder="Write your post here"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>

{% endblock %}