{% extends "network/layout.html" %}
{% block title %}{{ user.username }}{% endblock %}
{% block body %}

    {% if user.is_authenticated %}
    <div>
        <h2>{{ profile_user.username }}</h2>
        {% if user != profile_user %}
            {% if followed %}
                <a href="{% url 'follow-or-unfollow' profile_user.username %}">Unfollow</a>
            {% else %}
                <a href="{% url 'follow-or-unfollow' profile_user.username %}">Follow</a>
            {% endif %}
        {% endif %}

    </div>
    <div>
        <span>
            followers: {{ followers }}
        </span>
        <span>
            following: {{ following }}
        </span>
    </div>
    <div>
        {% if posts %}
            {% for post in page_obj %}
                <div>
                    <!-- {% csrf_token %} -->
                    <div>{{ post.user }} posted on {{ post.date_added }}</div>
                    <div id="body{{post.id}}">
                        {{ post.body }} 
                    </div>
                    <div>
                    {% if user%}
                    </div>
                    {% if post.user == user %}
                    <!-- <a class="btn btn-primary post" href="{% url 'edit-post' post.id %}" onclick="" value="{{ post.id }}">edit</a> -->
                    <div class="btn btn-primary post" id="{{ post.id }}">
                        edit
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                    {% endif %}
            
                    <span class="current page-link">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
        
    {% endif %}

{% endblock %}
        